* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

.minicircle {
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    border-radius: 50%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* for smooth transition */
}

main {
    width: 100%;
    background-color: #0d0c0c;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0d0c0c;

}

.hero-section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.hero-section nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section nav h4 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;

}

.hero-section .headings {
    line-height: 0.9;
    opacity: 0.7;
    margin-top: 50px;

}

.bounding {
    width: fit-content;
    overflow: hidden;

}

.bounding .boundingelem {
    transform: translateY(100%);
}

.hero-section .headings h1 {
    color: #fff;
    font-size: 8rem;
    font-weight: 900;
    margin-left: 30px;

}

.blocktext {

    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.hero-section .blocktext h2 {
    color: #fff;
    font-size: 8rem;
    font-weight: 900;
    margin-left: 230px;
}

.hero-section .blocktext h5 {
    color: #fff;
    text-align: right;
    /* margin-top: 2vw; */
}

.hero-section .side-heading {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.hero-section .side-heading h5 {
    text-transform: uppercase;
    line-height: 1.3;
    margin-top: 7vw;
    font-size: 0.7vw;
    text-align: right;
    color: #fff;
    padding: 0px 40px;
}

.hero-section .herofooter {
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .herofooter a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
}

.hero-section .herofooter .icons i {
    background-color: #ffffff96;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 2px;
    font-weight: 800;

}

.second-page {
    height: 100vh;
    width: 100%;
    padding: 8vw 7vw;
    background-color: #0D0C0C;
    width: 100%;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #B7B7B7;
    width: 100%;
    padding: 2.8vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    color: #B7B7B7;
    text-transform: uppercase;
    font-size: 5vw;
    opacity: 0.7;
}

#elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 999;
    opacity: 0;
    /* display: none; */
    pointer-events: none;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 30px;
    padding: 6vw 5vw;
    background-color: #0d0c0c;
    width: 100%;

}

.textabout {
    width: 25rem;
    /* background-color: #b71818; */
}

.textabout h5 {
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: .6;
}

.textabout p {
    line-height: 1.4;
    margin-bottom: 30px;
}

.about img {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.textabout a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 22px;
    border-radius: 100px;
    font-size: 0.7rem;
}

.subscribe {
    color: #fff;
    background-color: #0d0c0c;
    padding: 20px 30px;
    padding-bottom: 4vw;
}

.subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

.subscribe h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    background-color: #0d0c0c;
    color: #fff;
}

.footer .footerleft {
    display: flex;
    gap: 15px;

}

.footer .footerright {
    display: flex;
    gap: 15px;
}

.footer .footerright a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
}













/* small Devices Responsive */
@media (max-width:768px) {
     
    .hero-section nav a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
    }

    .hero-section nav h4 {
        color: #fff;
        font-size: 0.8rem;
    }

    .hero-section .headings {
        line-height: 0.9;
        opacity: 0.7;
        margin-top: 50px;

    }

    .hero-section .headings h1 {
        font-size: 3rem;
        margin-left: 20px;
    }

    .hero-section .blocktext h2 {
        font-size: 3rem;
        margin-left: 80px;
    }

    .hero-section .blocktext h5 {
        color: #fff;
        text-align: right;
        font-size: 0.6rem;
    }

    .hero-section .side-heading h5 {
        text-transform: uppercase;
        line-height: 1.3;
        margin-top: 17vw;
        font-size: 2vw;
        text-align: right;
        color: #fff;
        padding: 0px 42px;


    }

    .hero-section .herofooter {
        /* position: absolute; */
        bottom: 6%;
        width: 100%;
        padding: 0 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-top: -100%; */
    }

    .hero-section .herofooter a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.6rem;
    }

    .hero-section .herofooter .icons i {
        background-color: #ffffff96;
        border-radius: 50px;
        font-size: 0.8rem;
        padding: 2px;
        font-weight: 800;

    }


    .second-page {
        height: 100vh;
        width: 100%;
        padding: 10vw 8vw;
        background-color: #0D0C0C;
        width: 100%;
    }

    .elem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #B7B7B7;
        width: 100%;
        padding: 7vw;
        padding-right: 0;
        border-top: 1px solid #888;
    }

    .elem h1 {
        color: #B7B7B7;
        text-transform: uppercase;
        font-size: 5vw;
        opacity: 0.7;
    }

    #elemlast {
        border-bottom: 1px solid #888;
    }

    .elem img {
        height: 100%;
        width: 20%;
        position: absolute;
        z-index: 999;
        opacity: 0;
        /* display: none; */
        pointer-events: none;
    }

    .about {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -40vh;
        flex-wrap: wrap;
        color: #fff;
        gap: 40px;
        padding: 6vw 5vw;
        background-color: #0d0c0c;
        width: 100%;

    }

    .about img {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 30px;
    background-color: #0d0c0c;
    color: #fff;
}



}

/* Medium Devices Responsive */
@media (min-width: 768px) and (max-width: 1120px) {
     .hero-section {
    position: relative;
    height:80vh;
    width: 100%;
    background-color: #0d0c0c;

}

    .hero-section nav a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
    }

    .hero-section nav h4 {
        color: #fff;
        font-size: 0.8rem;
    }

    .hero-section .headings {
        line-height: 0.9;
        opacity: 0.7;
        margin-top: 20px;

    }

    .hero-section .headings h1 {
        font-size: 5rem;
        margin-left: 20px;
    }

    .hero-section .blocktext h2 {
        font-size: 5rem;
        margin-left: 80px;
    }

    .hero-section .blocktext h5 {
        color: #fff;
        text-align: right;
        font-size: 0.6rem;
    }

    .hero-section .side-heading h5 {
        text-transform: uppercase;
        line-height: 1.3;
        margin-top: 17vw;
        font-size: 1.5vw;
        text-align: right;
        color: #fff;
        padding: 0px 40px;


    }

    .hero-section .herofooter {
        position: absolute;
        bottom: 7%;
        width: 100%;
        padding: 0 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }

    .hero-section .herofooter a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7rem;
    }

    .hero-section .herofooter .icons i {
        background-color: #ffffff96;
        border-radius: 50px;
        font-size: 0.8rem;
        padding: 2px;
        font-weight: 800;

    }

    .second-page {
        height: 100vh;
        width: 100%;
        padding: 10vw 8vw;
        background-color: #0D0C0C;
        width: 100%;
    }

    .elem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #B7B7B7;
        width: 100%;
        padding: 7vw;
        padding-right: 0;
        border-top: 1px solid #888;
    }

    .elem h1 {
        color: #B7B7B7;
        text-transform: uppercase;
        font-size: 5vw;
        opacity: 0.7;
    }

    #elemlast {
        border-bottom: 1px solid #888;
    }

    .elem img {
        height: 100%;
        width: 20%;
        position: absolute;
        z-index: 999;
        opacity: 0;
      
        pointer-events: none;
    }

    .about {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -60vh;
        flex-wrap: wrap;
        color: #fff;
        gap: 40px;
        padding: 6vw 5vw;
        background-color: #0d0c0c;
        width: 100%;

    }

    .about img {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 30px;
    background-color: #0d0c0c;
    color: #fff;
    padding-bottom: 8vw;
}


}